<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link href="buttons.css">
</head>
<body>

  <button class="bullet-left">bullet-left</button>
  <button class="bullet">bullet</button>
  <button class="bullet-right">bullet-right</button>

  <br>
  <br>

  <button class="booter">booter</button>

  <br>
  <br>

  <button class="material">material</button>
  <button class="material strong">material strong</button>

</body>
</html>
